body {
    background-color: rgb(20, 20, 20);
    color: rgb(127, 255, 30);
    font-family: "Josefin Sans";
}
nav {
    background-color: rgb(38, 38, 38);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    display: inline;
}

a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

a:hover {
    background-color: #555;
}

.search-box {
    display: inline-block;
    margin-left: auto;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family:  "Josefin Sans";
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Josefin Sans";
    align-self: self-end;
}
ul li ul.d li{
    display: block;
    text-align: center;
}

ul li ul.d{
    width: 10%;
    background-color: #222;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: #555;
}
ul li:hover ul.d{
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
.a{
    color: aliceblue;
    text-align: center;
}

#container {
	height: 100vh;
	display:grid;
	place-items: center;
}
#slider-container {
	height: 300px;
	width: 85vw;
	max-width: 1400px;
	position: relative;
	overflow: hidden;
    padding: 10px;
}
#pp {
    font-family: "Josefin Sans";
}
#slider-container .btn {
	position: absolute;
	top: calc(50% - 30px);
	height: 15px;
	width: 15px;
	border-left: 8px solid #696969;
	border-top: 8px solid #696969;
	cursor: pointer;
}
#slider-container .btn:hover {
	transform: scale(1.2);
}
#slider-container .btn.inactive {
	border-color: #282828
}
#slider-container .btn:first-of-type {
	transform: rotate(-45deg);
	left: 10px
}
#slider-container .btn:last-of-type {
	transform: rotate(135deg);
	right: 10px;
}
#slider-container #slider {
	display: flex;
	width: 1000%;
	height: 100%;
	transition: all .5s;
}
#slider-container #slider .slide {
	height: 90%;
	margin: auto 10px;
	border-radius: 5px;
	display: grid;
	place-items: center;
}
#slider-container #slider .slide span {
	color: white;
	font-size: 60px;
}
@media only screen and (min-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(2.5% - 20px);
	}
}
@media only screen and (max-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(3.3333333% - 20px);
	}
}
@media only screen and (max-width: 900px) {
	#slider-container #slider .slide {
		width: calc(5% - 20px);
	}
}
@media only screen and (max-width: 550px) {
	#slider-container #slider .slide {
		width: calc(10% - 20px);
	}}

.slide:hover{
    opacity: 0.6;
    scale: 1.1;
    background: linear-gradient(rgb(255, 255, 255) rgb(0,0,139));
}
.v{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.service-section {
	margin: 20px 0;
	position: relative;
	overflow: hidden;
}
.wow_imgage {
	position: relative;
	float: left;
	margin: 0 20px 20px 0;
	width: 270px;
	height: 240px;
    padding: 20px;
}

.wow_imgage img {
	border-radius: 5px;
    background-color: #000;
}
.wow_imgage:hover{
    transform: scale(1.1);
}

.content{
    height: 157px;
    width: 232px;
    top: 13px;
    left: 19px;
    padding: 20px;
    position: absolute;
    background-color: rgba(28, 28, 28, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
    text-align: center;
}
.content:hover{
    opacity: 1;
}

.c{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 50px;
}
.content h3{
    font-size: 20px;
    margin-top: 15px;
}
.content p{
    color: #fff;
}
.content h4{
    font-size: 20px;
    margin-top: 15px;
}
.service-section {
	margin: 20px 0;
	position: relative;
	overflow: hidden;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Center align the content */
    margin-top: 10vh;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px; /* Add space between sections */
}

.footer-section {
    text-align: left;
    padding: 20px; /* Increase padding for better spacing */
    flex: 1; /* Make sections equal width */
    max-width: 300px; /* Limit maximum width of each section */
}

.footer-section h2 {
    font-size: 20px; /* Reduce font size for better proportion */
    margin-bottom: 10px; /* Add space below heading */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}
ul li ul.d li{
    display: block;
}

ul li ul.d{
    width: 10%;
    background-color: #222;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: #555;
}
ul li:hover ul.d{
    display: block;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: "Josefin Sans";
    margin-top: 10px;
}

.footer-bottom {
    background-color: #000;
    padding: 10px 0;
    color: #fff;
}

.log{

    padding: 10px;
    margin-left: 5px;
    margin-bottom: 7px;


}

.contact{
    text-align: center;
    padding: 50px;
}

form h3{
    padding: 30px;
}
.contact form input,form textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: "Josefin Sans";
    margin-top: 10px;
}
.x{
    text-align: left;
}
.log{

    padding: 10px;
    margin-left: 5px;
    margin-bottom: 7px;


}
.Search{
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Josefin Sans";
    align-self: self-end;
}


.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 60px;
}
.card{
    height: 320px;
    width: 340px;
    background-color:rgb(26, 26, 26);
    padding: 3% 8%;
    border: solid rgb(19, 19, 19);
    border-radius: 9px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card:hover{
    background-color: transparent;
    transform: translateY(-9px);
    border-color: #313131;
}
.card:hover:after{
    width: 225%;
    top:-100%;
}
.card h2{
    color: blanchedalmond;
    text-align: center;
    padding: 9px;
}
.card p{
    padding: 9px;
}
.card p.price{
    font-size:30px;
    color: azure;
}
.t{
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding: 50px;
}
.log{

    padding: 10px;
    margin-left: 5px;
    margin-bottom: 7px;


}
.card a{
    color: rgb(200, 230, 255);
}
.detail{
    width: 98%;
    display: flex;
    text-align: center;
}
.img {
    width: 250px;
    border-radius: 20px;
}
.detail img{
    width:20px;
    height:40px;
    padding: 20px;
    text-align: left;
}
.detail h2{
    margin-top: 50px;
    color: blanchedalmond;
    text-align: center;
    font-size: 70px;
}
.detail p{
    padding: 15px;
    font-size: 20px;
}
.detail p.price{
    font-size:30px;
    color: azure;
}