    body {
        background-color: rgb(20, 20, 20);
        color: rgb(127, 255, 30);
        font-family: "Josefin Sans";
        overflow-x: hidden;
    }
    *{
        margin: 0;
        padding: 0;
    }
    nav {
        background-color: rgb(38, 38, 38); /* Change background color as needed */
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        align-items: center;
    }
    
    li {
        display: inline;
    }
    
    a {
        display: inline-block;
        padding: 20px;
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        background-color: #555;
        border-radius: 20px; /* Change hover background color as needed */
    }
    .search-box {
        display: inline-block;
        margin-left: auto;
    }
    
    input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        font-family:  "Josefin Sans";
    }
    
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #555; /* Change button background color as needed */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Josefin Sans";
        align-self:self-end;
    }
    .L {
        width: 2px;
        height:2px;

    }
    .img {
        width: 150px;
    }
    .H {
        position:relative; 
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 50%;
        animation: change 15s infinite ease-in-out;
        animation-duration: 50s;
        background-size: cover;
    }
    .ok{
        border-collapse: collapse;
        margin: 30px;
        min-width: 400px;
        padding: 20px;
        align-items: center;
    }
    .ok thead tr{
        margin: 25px;
        min-width: 400px;
        padding: 20px;
    }
    .u{
        font-size: 70px;
        color: #c2ffa3;
        text-align: center;
        padding: 40px;
    }
    .product-img {
        width: 50px;
        height: 50px;
    }

    /* For WebKit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 12px; /* Adjust width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(185, 248, 188); /* Set thumb (scroll bar handle) color */
    border-radius: 6px; /* Round the edges */
}

::-webkit-scrollbar-track {
    background: #505050; /* Background of the track */
}
